[submodule "ml/repos/EMG-based-Estimation-of-Lower-Limb-Joint-Angles-and-Moments-Using-Long-Short-Term-Memory-Network"]
	path = ml/repos/EMG-based-Estimation-of-Lower-Limb-Joint-Angles-and-Moments-Using-Long-Short-Term-Memory-Network
	url = https://github.com/Amged-Elsheikh/EMG-based-Estimation-of-Lower-Limb-Joint-Angles-and-Moments-Using-Long-Short-Term-Memory-Network.git
[submodule "ml/repos/Neurotron"]
	path = ml/repos/Neurotron
	url = https://github.com/josecyc/Neurotron.git
[submodule "ml/repos/deep-belief-network"]
	path = ml/repos/deep-belief-network
	url = https://github.com/albertbup/deep-belief-network.git
[submodule "ml/repos/Deep-Belief-Networks-in-PyTorch"]
	path = ml/repos/Deep-Belief-Networks-in-PyTorch
	url = https://github.com/AmanPriyanshu/Deep-Belief-Networks-in-PyTorch.git
