blinker==1.8.2
cffi==1.16.0
click==8.1.7
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
numpy==1.26.4
pycparser==2.22
python-docx==1.1.2
soundfile==0.12.1
typing_extensions==4.12.1
Werkzeug==3.0.3
